.dashbord {
    width: 300px;
    display: inline-block;
    background-color: #34495E;
    color: #fff;
    margin-top: 50px;
    text-align: center;
    height: 100px;
}

.icon-section .icon-wrapper {
    font-size: 30px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: auto;
    background-color: #34495E;
    width: fit-content;
    position: relative;
    top: -15px;
}

.icon-section img {
    height: 30px;
    margin: auto;
}

.icon-section p {
    margin: 0px;
    font-size: 20px;
    padding-bottom: 10px;
}

.dashbord-orange .icon-section, .dashbord-orange .icon-section i {
    background-color: #f57105;
}

.buttons {
    margin-top: 32px;
}
